body{
    background-color: black;
}
p{
    color: white;
}
.todo{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todoPage{
    height: 80%;
    width: 40%;
    background-color: white;   
}